:global{
    #components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
   }
  .wrapper{
    width:100%;
    height: 100%;
  }
  .rightList{
    width: 100%;
    flex: 1;
    overflow-y: scroll;
  }
  // .left{
  //   height:1000px;
  //    background: #000033;
  //   // overflow-y: scroll;
  // }
}

