.exam {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.exam .useheader {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 0 80px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
}

.exam .useheader img {
  display: inline-block;
  width: 150px;
}

:global h2 {
  width: 100%;
  line-height: 80px;
}

:global .seequest, :global .detailexam {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

:global .seequest .navquest, :global .seequest .listquest, :global .detailexam .navquest, :global .detailexam .listquest {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

:global .seequest .course, :global .detailexam .course {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

:global .seequest .course .coursetype, :global .detailexam .course .coursetype {
  width: 100px;
}

:global .seequest .other, :global .detailexam .other {
  width: 100%;
  margin: 20px 0;
  display: flex;
}

:global .seequest .other .othertype, :global .detailexam .other .othertype {
  width: 20%;
}

:global .seequest .listcourse > span, :global .detailexam .listcourse > span {
  display: inline-block;
  padding: 0 10px 5px 10px;
  cursor: pointer;
}

:global .seequest .listcourse > span:hover, :global .detailexam .listcourse > span:hover {
  color: blue;
}

:global .seequest .listquest .subject, :global .detailexam .listquest .subject {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

:global .seequest .listquest .subject .listsubject, :global .detailexam .listquest .subject .listsubject {
  width: 90%;
  line-height: 30px;
}

:global .seequest .listquest .subject .edit, :global .detailexam .listquest .subject .edit {
  line-height: 100px;
}

:global .detail {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

:global .detail .title {
  background: #fff;
  width: 45%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
}

:global .detail .detail_question {
  width: 53%;
}
