:global{
    .addPage{
        width: 100%;
        height: 800px;
        background: #eee;
        padding: 0 20px;
        // overflow-y: scroll;
    }
    h4{
        padding: 15px;
        font-size: 20px;
    }
    .mains{
        width: 800px;
        background: #fff;
        padding: 10px;
    }
    .themList{
        padding: 20px;
    }
    .title{
        padding: 15px;
    }
    .title span{
        display: inline-block;
        padding-left: 15px;
    }
    .inp{
        width: 300px;
    }
    .btns{
        margin-top: 15px;
        background: lightskyblue;
    }
}

