.exam{
    width: 100%;
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .useheader{
        width:100%;
        height:150px;
        box-sizing: border-box;
        padding:0 80px;
        line-height: 70px;
        display:flex;
        justify-content: space-between;
        img{
            display:inline-block;
            width:150px;
        }
    }
}
:global{
    h2{
        width:100%;
        line-height: 80px;
    }
    .seequest,.detailexam,.edit_exam{
        width:100%;
        flex:1;
        overflow-y: scroll;
        box-sizing: border-box;
        padding:0 20px;
        display:flex;
        flex-direction: column;
        .navquest,.listquest{
            width:100%;
            box-sizing: border-box;
            padding:20px;
            background:#fff;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .course{
            width:100%;
            display:flex;
            justify-content: space-between;
            .coursetype{
                width:100px;
            }
        }
        .other{
            width:100%;
            margin:20px 0;
            display:flex;
            .othertype{
                width: 20%;
            }
        }
        .listcourse>span{
            display:inline-block;
            padding:0 10px 5px 10px;
            cursor: pointer;
            &:hover{
                color:blue;
            }
        }
        .listquest{
             .subject{
                width:100%;
                display:flex;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
                .listsubject{
                    width:90%;
                    line-height: 30px;
                }
                .edit{
                    line-height: 100px;
                }
            }
        }
        
    }
    //详情页的布局
    .detail{
        width:100%;
        flex:1;
        display:flex;
        justify-content: space-between;
        .title{
            background:#fff;
            width:45%;
            height:100%;
            border-radius: 15px;
            box-sizing: border-box;
            padding:20px;
        }
        .detail_question{
            width:53%;
        }
       
    }
}
